[user]
	name = zhanqi
	email = zhanqi.me@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[http]
	proxy = http://127.0.0.1:1080
	SSLVERIFY = false
[https]
	proxy = https://127.0.0.1:1080
[core]
	autocrlf = false
[alias]
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	co = checkout
